@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');

body {
    font-family: "Noto Kufi Arabic", sans-serif;
    font-optical-sizing: auto;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: white;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    border-bottom: 2px dashed #ccc;
}

h1 {
    text-align: center;
    color: #333;
}

.no{
    background-color: #e84118 ;
    transition: all 0.5s ease;
    margin: 10px 0;
}
.no:hover{
    background-color:#c23616 ;
}


/* .question_2,
.question_3,
.question_4,
.question_5{
    display: none;
} */

button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5cb85c;
    color: white;
    font-size: 28px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef;
}

form p {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef;
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;
    
}